<div class="main__container">
  <div class="main__content-wrap">
    <div class="main__article-wrap">
      <div class="main__article">
        <div class="main__article-content">
          <div class="main__article-title">Про проєкт</div>
          <div class="main__article-text">
            просвітницький проект, що об'єднує небайдужих до майбутнього України.
            Проект засновано з амбітною метою – розвиток зрілого громадянського суспільства,
            здатного до формування ефективної влади й організації належного громадянського контролю усіх гілок влади.
          </div>
        </div>
      </div>
    </div>
    <div class="main__article-wrap">
      <img src="../assets/images/logo.png" alt="logo">
    </div>
  </div>

  <div class="main__goal">
    <div class="main__goal-title">МІСІЯ проєкту</div>
    <div class="main__goal-text">
      <em>Оновлення країни шляхом <a href="" [routerLink]="['/catalog']">популяризації книг</a> серед громадянського суспільства.</em>
    </div>
  </div>
  <div class="main__tasks">
    <div class="main__article-title">ЗАВДАННЯ проєкту</div>
    <div class="main__tasks-wrap">
      <div class="main__task">
        <div class="main__task-number">1</div>
        <div class="main__task-text">Cформувати ком'юніті, яке знає свої права, гідно відстоює свою позицію, та про-водить ініціативи щодо контролю діяльності влади та розповсю дження ідей проекту.</div>
      </div>
      <div class="main__task">
        <div class="main__task-number main__task-number-second">2</div>
        <div class="main__task-text">Змінити парадигму сприйняття світу індивіда, звільнивши від кліпового мислення та перейти на модель самовідповідальності.</div>
      </div>
      <div class="main__task">
        <div class="main__task-number main__task-number-second">3</div>
        <div class="main__task-text">Спровокувати в суспільстві попит на прозорість влади через її десакралізацію  (об`єктивну критику поточної ситуації).
        </div>
      </div>
    </div>
  </div>
</div>
